# ignore the directory with raw and parsed files from experiments
raw_outputs/
output_data_logs/

# ignore my backlog file
mybacklog.html

#ignore files ending with ~
*~

*.eps

# directory for tests
tests/
